/* Stance one: 0%; width: 8%;
 Stance two: 20%; width: 8%;
 Stance three: 45%; width: 10%;
 Stance four: 72%; width: 10%;
 Stance five: 99%; width: 8%;

*/
#player{
	background-image: url('images/sprite.png');
	position: absolute;
	z-index: 1;
	height: 142px;
	left: 300px;	
}
.stance_one{
	width: 8%;
	background-position: 0% 0%;
}
.stance_two{
	width: 8%;
	background-position: 20% 0%;
}
.stance_three{
	width: 10%;
	background-position: 45% 0%;
}
.stance_four{
	width: 10%;
	background-position: 72% 0%;
}
.stance_five{
	width: 8%;
	background-position: 99% 0%;
}
