/* Stance one: 0%; width: 8%;
 Stance two: 20%; width: 8%;
 Stance three: 45%; width: 10%;
 Stance four: 72%; width: 10%;
 Stance five: 99%; width: 8%;

*/
#player2{
	background-image: url('images/player2.png');
	position: absolute;
	z-index: 1;
	height: 142px;	
	right: 100px;
}
/*first: w(8) bp(99);
  second:w(8) bp(78);   third:w(10) bp(53);
   
   fourth: w(10) bp(27); fifth:w(8) bp(0); */
.first_stance{
	width: 8%;
	background-position: 99% 0%;
}
.second_stance{
	width: 8%;
	background-position: 78% 0%;
}
.third_stance{
	width: 10%;
	background-position: 53% 0%;
}
.fourth_stance{
	width: 10%;
	background-position: 27% 0%;
}
.fifth_stance{
	width: 8%;
	background-position: 0% 0%;
}
